name: node-ci-artifact

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

      - name: Package artifact
        run: |
          tar -czf signal-service-${{ github.sha }}.tar.gz .

      - name: Upload artifact to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: signal-service
          path: signal-service-${{ github.sha }}.tar.gz
